*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#container{
    width: 900px;
    height: 800px;
    overflow: scroll;
}
.titleBox{
    position: fixed;
    top: 79px;
    left: 550px;
    display: flex;
    gap: 70px;
    
}
::-webkit-scrollbar{
    width: 0;  /* Remove scrollbar space */
    background: transparent; 
}

.btnBox{
    position: fixed;
    top: 40px;
    right: 40px;
}